<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="search">Search: </label>
    <input type="text" name="search" id="search" formControlName="keyword" />
  </div>
  <input type="submit" value="Search" />
</form>

<div *ngIf="assets.length">
  <h2>Results</h2>
  <div *ngFor="let asset of assets" [routerLink]="['/assets/', asset.asset_id]">
    <h2>{{ asset.master_content_name }}</h2>
    <img
      [src]="asset.thumbnail_content_url"
      alt="{asset.master_content_name}"
    />
  </div>
</div>
